@model List<AnketListViewModel>
@{
    ViewBag.Title = "Anket";
}
<div class="col-6 mx-auto">
    <div class="card shadow-sm rounded-5 border-1 mb-1">
        <h4 class="card-title mt-5"><i class="bi bi-bar-chart-line"></i> Anketler</h4>
        <p class="card-text text-success">Son anketler</p>
        @foreach (var item in Model)
        {
            <div class="mb-3">
                <h4 class="card-header mt text-center"> @item.Title</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (item.HVoted)
                {
                    <p class="text-success text-opacity-75"><i class="bi bi-check-circle"></i> Bu ankete oy verdiniz.</p>
                }

                <form asp-action="Vote" asp-controller="Anket" method="post">
                    <input type="hidden" name="PollId" value="@item.Id" />

                    @foreach (var option in item.Options)
                    {
                        <div class="form-check ms-4 mt-2">
                            <input class="form-check-input mt-1" type="radio" name="OptionId" value="@option.Id" id="option-@option.Id">
                            <label class="form-check-label card-text mt-2" for="option-@option.Id">
                                @option.Name 
                                <span class="text-danger">(@option.VoteCount oy)</span>
                            </label>
                        </div>
                    }

                    <div class="text-end me-5">
                        <button type="submit" class="btn btn-primary"> <i class="bi bi-envelope-plus-fill"></i>  Oy Ver</button>
                    </div>
                </form>
            </div>
        }
    </div>

</div>
